Form{
    width:80%;
}

Button, input, textarea{
    width:100%;
    border-radius: 0!important;
    border: 1px solid #707070!important;
    color:black!important;
    background-color: white!important;
    margin-top:15px!important;
}
